.vscode/
data/*
Logs/
UserData/
UserData_1024/
!data/vlthanlong_com.pak
!data/VLTKUI_1024x768.pak
!data/serverlist.pak
!data/slistcache.pak
pic/
vg.log
*.dmp
Photo/*
Auto/KYTrain/Config/AllUser/5docss2.cfg
Auto/KYTrain/Config/AllUser/jxdocs1111.cfg
Auto/KYTrain/Config/AllUser/Local0001.cfg
Auto/KYTrain/Config/OfflineName.txt
*.log
/Auto/KYTrain/Config/AllUser/GameTest0001.cfg
settings/npcres-dragon
maps/dotamap
spr/npcres/boss
spr/npcres
